.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 40px ;
    background-color: black;
    height: 355px;
    width: 415px;
    gap: 5px;
}
.one{
    background-color: yellow;
    grid-column: span 2;
    grid-row: span 2;
}
.two{
    background-color:#FFE8C8 ;
    grid-column: span 2;
    grid-row: span 2;
}
.three{
    background-color:#FFE8C8 ;
    grid-column: span 2;
    grid-row: span 2;
}
.four{
    background-color:#FFE8C8 ;
}
.five{
    background-color: #2A629A;
}
.six{
    background-color: #FFE8C8;
}
.seven{
    background-color: #FFE8C8;
}