.grid-container{
    display: grid;
    grid-template-columns: 30px 50px 30px 30px 60px 40px 40px 25px 25px 30px 30px ;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
    gap: 3px;
    background-color:#524C42;
    height: 230px;
    width: 423px;
}
.one{
    background-color: #ffffff;
}
.two{
    background-color: #ffffff;
    grid-column: span 2;
}
.three{
    background-color: #FFDB00;
    grid-column: span 2;
}
.four{
    background-color:#83B4FF ;
    grid-column: span 2;
    grid-row: span 2;
}
.five{
    background-color: #FFDB00;
}
.six{
    background-color: black;
}
.seven{
    background-color: #ffffff;
    grid-column: span 2;
}
.eight{
    background-color: #ffffff;
    grid-row: span 2;
}
.nine{
    background-color: #FF0000;
    grid-column: span 3;
    grid-row: span 4;
}
.ten{
    background-color: #FFDB00;
   
    grid-row: span 2;
}
.eleven{
    background-color:#FFDB00 ;
    grid-column: span 2;
}
.twelve{
    background-color: #ffffff;
    grid-row: span 2;
    
}
.thirteen{
    background-color: #FFDB00;
    grid-row: span 3;
}
.fourteen{
    background-color: #FF0000;
    grid-row: span 2;
    grid-column: span 2;
}
.fifteen{
    background-color: black;
    grid-column: span 2;
}
.sixteen{
    background-color: #ffffff;
    grid-row: span 3;
}
.seventeen{
    background-color: #ffffff;
    grid-row: span 2;
    
}
.eighteen{
    background-color: #ffffff;
    grid-column: span 2;   
}
.nineteen{
    background-color: #ffffff;
    grid-column: span 2;
}
.twenty{
    background-color: #ffffff;
    grid-column: span 2;
}
.twoone{
    

}
.twotwo{
    background-color: #ffffff;
    grid-row: span 3;
}
.twothree{
    background-color: black;
    grid-row: span 2;
}
.twofour{
    background-color: #ffffff;
}
.twofive{
    background-color: #ffffff;
    grid-column: span 2;
}
.twosix{
    background-color: #ffffff;
    grid-row: span 2;
}
.twoseven{
    background-color: #ffffff;
    grid-row: span 2;
}
.twoeight{
    background-color: #83B4FF;
    grid-column: span 3;
    grid-row: span 4;
}
.twonine{
    background-color: #FFDB00;
    grid-row: span 3;
}
.thirty{
    background-color: #ffffff;
}
.threeone{
    background-color: #83B4FF;
    grid-column: span 2;
    grid-row: span 2;
}
.threetwo{
    background-color:#ffffff ;
    grid-row: span 2;
    
}
.threethree{
    background-color: black;
}
.threefour{
    background-color: #FFDB00;
    grid-column: span 2;
    grid-row: span 2;
}
.threefive{
    background-color:#ffffff ;
    grid-row: span 2;
    
}
.threesix{
    background-color: #FFDB00;
    grid-row: span 2;
}
.threeseven{
    background-color: #ffffff;
    grid-row: span 2;
}
.threeeight{
    background-color: #FF0000;
    grid-row: span 2;
}
.threenine{
    background-color: #ffffff;
    grid-column: span 2;
}
.fourty{
    background-color: #ffffff;
}
.fourone{
    background-color: black;
}
.fourtwo{
    background-color: #ffffff;
    grid-column: span 2;
}
.fourthree{
    background-color: #ffffff;
    grid-column: span 2;
}