.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 80px  ;
    grid-template-rows: 120px 80px 80px 120px ;
    gap: 7px;
    background-color: black;
    height: 294px;
    width: 494px;
}
.one{
    background-color: #EEEEEE;
}
.two{
    background-color: #EEEEEE;
    grid-column: span 2;
}
.three{
    background-color: #A91D3A;
    grid-row: span 2;
}
.four{
    background-color: #EEEEEE;
    grid-row: span 2;
}
.five{
    background-color: #10439F;
}
.six{
    background-color: #EEEEEE;
}