.grid-container{
    background-color: black;
    display: grid;
    grid-template-columns: 30px 100px 100px 60px ;
    grid-template-rows: 30px 100px 100px 50px 50px 25px 25px;
    gap: 10px;
    height: 440px;
    width: 320px;
}
.one{
    background-color:#EEEEEE ;
}
.two{
    background-color:#EEEEEE ;
    grid-column: span 2;
}
.three{
    background-color: #FF9A00 ;
}
.four{
    background-color:#EEEEEE  ;
}
.five{
    background-color:#FF0000 ;
    grid-column: span 2;
    grid-row: span 2;
}
.six{
    background-color:#FF9A00 ;
}
.seven{
    background-color: #EEEEEE;
    grid-row: span 2;
}
.eight{
    background-color: #EEEEEE;
}
.nine{
    grid-row: span 2;
}
.ten{
    background-color:#EEEEEE ;
}
.eleven{
    background-color: #EEEEEE ;
}
.twelve{
    background-color: #FF9A00;
    grid-row: span 3;
}
.thirteen{
    background-color: #EEEEEE;
}
.fourteen{
    background-color: #003285;
    grid-row: span 2;
}
.fifteen{
    background-color: #EEEEEE;
    grid-row: span 2 ;
}
.sixteen{
    background-color: black;
}
.seventeen{
    background-color: #EEEEEE;
    grid-column: span 2;
    
}
